﻿@using System.Activities.Statements
@using System.Globalization
@using TheatreWebApp.Models
@model TheatreWebApp.ViewModels.HomePageViewModel

@{
    ViewBag.Title = "Home Page";
}

<div id="carousel" class="carousel slide hidden-sm" data-ride="carousel" data-interval="5000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="/Content/Images/stage_cropped2.jpg" alt="...">
            <div class="carousel-caption">
                <h3>Opening Soon: Hamlet</h3>
                <p>William Shakespeare's gripping drama comes alive on our stage. 1 week only</p>
                @Html.ActionLink("Buy Tickets", "Purchase", "Booking",
                              new { id = 1}, new { @class = "btn btn-danger"})

            </div>
        </div>
        <div class="item">
            <img src="/Content/Images/slide-d.jpg" alt="...">
            <div class="carousel-caption">
                ...
            </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>


<div class="row">
    <div class="col-md-4 col-md-offset-1 panel panel-default">
        <div class="panel-heading" align="center"><h3>Coming Soon</h3></div>
        <hr/>
        <div class="panel-body" align="left">
            @foreach (Show show in Model.UpcomingShows)
            {
                string url = "/booking/purchase/" + show.ProductionId + "?date=" + show.ViewDate;
                <div>
                    <small>
                        @show.DateTime.ToString("D",
                            CultureInfo.CreateSpecificCulture("en-UK"))
                    </small>
                    <img style="float: right;" src="@show.Production.ImageThumbNail" width="80em"/>
                    <a href="/productions/details/@show.ProductionId">
                        <h3>@show.Production.Title</h3>
                    </a>
                    <small>@show.ViewTime</small> <br />
                   
                <a href="@url"><button type="submit" class="btn btn-danger">
                    <i class="glyphicon glyphicon-shopping-cart"></i> Tickets
                                                                   </button></a>
                <hr />
            </div>
            }
        </div>
    </div>
    <div class="col-md-4 col-md-offset-2 panel panel-default">
        <div class="panel-heading" align="center"><h3>Season Productions</h3></div>
        <hr />
        <div class="panel-body" align="left">
            @foreach (Production production in Model.Productions)
            {
                string url = "/booking/purchase/" + production.Id;
                <div>
                    <small>
                        @production.DateRange
                    </small>
                    <img style="float: right;" src="@production.ImageThumbNail" width="80em" />
                    <a href="/productions/details/@production.Id">
                        <h3>@production.Title</h3>
                    </a>
                    <small>@production.Distinction</small> <br />

                    <a href="@url">
                        <button type="submit" class="btn btn-danger">
                            <i class="glyphicon glyphicon-shopping-cart"></i> Tickets
                        </button>
                    </a>
                    <hr />
                </div>
            }
        </div>
    </div>
    @*<div class="col-md-4">
        <h2>Heading 3</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dolor ante, sodales ac risus ac, mollis blandit quam. /p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>*@
</div>