﻿@using Microsoft.Ajax.Utilities
@model TheatreWebApp.Models.Production



@if (ViewBag.Date != null)
{
    var selectedDate = (DateTime) ViewBag.Date;
}

<div class="container col-md-12">
    
    <div class="well col-md-3 col-md-offset-1">
        @if (!Model.Distinction.IsNullOrWhiteSpace())
        {
            <p>@Model.Distinction</p>
        }
        <h2>@Model.Title</h2>
        <p>@Model.Author</p>
        <strong>@Model.DateRange</strong>
        <hr/>
        
        @if (ViewBag.Date == null)
        {
            <div class="" align="center">
                @Html.ActionLink("Tickets", "Purchase", "Booking",
                    new {id = Model.Id}, new {@class = "btn btn-default"})
            </div>
        }
        else
        {
            var dateString = ((DateTime) ViewBag.Date).ToString();
            <div class="" align="center">
            @Html.ActionLink("Tickets", "Purchase", "Booking",
                              new { id = Model.Id, date = dateString }, new { @class = "btn btn-default" })
        </div>
        }
        
    </div>
    <div class="well col-md-6 col-md-offset-1">
        @Html.Raw(Model.Description)
        </div>
    </div>