﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    
    <link href="~/Content/fullcalendar.css" rel="stylesheet" />
    <link href="~/Content/fullcalendar.print.css" rel="stylesheet" media="print" />
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery.ui.datepicker.css" rel="stylesheet" />   
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
   @* <link href="~/Content/Site.less" rel="stylesheet" />*@
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    

    
    <nav class="navbar navbar-inverse customnav">

                <a class="navbar-brand" href="">
                    <img src="/Content/Images/logo5.png" style="height: 5em;">
                </a>

        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.MenuItem("Home", "Index", "Home")</li>
                    <li>@Html.MenuItem("About", "About", "Home")</li>
                    <li>@Html.MenuItem("Contact", "Contact", "Home")</li>
                    <li>@Html.MenuItem("Book", "Purchase/0", "Booking")</li>
                    <li>@Html.MenuItem("Calendar", "Calendar", "Booking")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Productions <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.MenuItem("The Winter's Tale", "Details/1", "Productions")</li>
                            <li>@Html.MenuItem("Henry VI, Part 3", "Details/2", "Productions")</li>
                            <li>@Html.MenuItem("Hamlet", "Details/3", "Productions")</li>
                            <li>@Html.MenuItem("The Martyr of Antioch", "Details/4", "Productions")</li>
                            <li>@Html.MenuItem("Utopia, Limited", "Details/5", "Productions")</li>
                            <li>@Html.MenuItem("The Merchant of Venice", "Details/6", "Productions")</li>
                        </ul>
                    </li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="bannerImage"></div>
    <div class="container body-content">
        @*<div class="page-header">
                <img src="/Content/Images/logo3.png" class="pull-left" style="height: 5em; margin-top: -2em;" />
                <h1>Atlas Theatre</h1>
        </div>*@
        @RenderBody()
        <hr />
        <div align="center">
            <footer>
                <p>&copy; @DateTime.Now.Year - Atlas Theatre - Nathan Power</p>
            </footer>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery-ui-1.10.3.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.min.js"></script>
    <script src="~/Scripts/fullcalendar.js"></script>
    <script src="~/Scripts/jquery.maskedinput.min.js"></script>
    <script src="~/Scripts/site.js"></script>
    <script src="~/Scripts/fullcalendar.min.js"></script>
    <script src="~/Scripts/gcal.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>
