﻿
@foregroundColour: #0193b8;
//@backgroundColour: #cbbfb1;
@backgroundColour: #eeeeee;
@activeColour: #EDD3D6;
@navbarColour: #735e41;
@textColour: white;
@textColour2:@foregroundColour;
    
/*
@foregroundColour: #0193b8;
@backgroundColour: #eeeeee;
@navbarColour: #E3AE57;
@textColour: white;*/

/*
@foregroundColour: #374675;
@backgroundColour: #F0EDF0;
@activeColour: #EDD3D6;
@navbarColour: #995171;
@textColour: white;
@textColour2:@foregroundColour;
    */

body {
    padding-top: 100px;
    padding-bottom: 20px;
    background-color: @backgroundColour;
    color: @foregroundColour;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
     display:block;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.carousel {
    padding: 30px;
    margin-bottom: 30px;
}

#calendar {
		width: 900px;
		margin: 0 auto;
		}

/*.dropdown {
    width : 80%;
}*/
.border {
    /*border-style: solid;
    border-width: 1px;
    border-color: #000;*/
}

.ui-spinner {
    width: 3em;
}

.padtop {

    padding-top: 2em;
}

.padbottom {
    padding-bottom: 2em;
}

.marginLeft {
    margin-left: 1em;
}

ul
{
    list-style-type: none;
}

.uppernav {
    background-color: @backgroundColour;
    height: 20px;
    width: 100%
}

.customnav {
    background-color: @navbarColour;
}

a {
    color: @foregroundColour;
}

.navbar-nav a{

    color: @textColour;

 }

.navbar-nav > .active{
    background-color: @activeColour;
    text-decoration: none;
    color: @textColour2;

 }
.navbar-nav > .active > a, 
 .navbar-nav > .active > a:hover, 
.navbar-nav > .active > a:focus {
      background-color: @activeColour;
    text-decoration: none;
    color: @textColour2;
 }

.nav > li > a:hover, .nav > li > a:focus {
    background-color: @activeColour;
    text-decoration: none;
}

a:hover, a:focus {
    color: @foregroundColour;
    text-decoration: underline;
}

.icon-bar {
    background-color: @backgroundColour;
}

.btn-default {
    background-color:  @foregroundColour;
    color: #ffffff;
}

.btn-default:hover {
    background-color:  @foregroundColour;
    color: #ffffff;
}

h2 {
    color:  @foregroundColour;
}

.well {
    background-color: @navbarColour;
    color: @textColour;
}

.panel-primary {
    background-color: @backgroundColour;
    color: black;
}

.panel-heading {
    background-color: @foregroundColour;
}

.page-header {
    color: @foregroundColour;
}

#container {
    display: inline-block;
    position: relative;
    width: 50%;
}
#dummy {
    padding-top: 75%; /* 4:3 aspect ratio */
}
#element {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: silver /* show me! */
}

.input-group-addon {
    color: @foregroundColour;
}

.bannerImage {
    background-repeat: repeat-x;
    background-image: url(/content/images/banner2.jpg);
    width: 100%;
    height: 20px;
    margin-top: 20px;
}


