﻿@model TheatreWebApp.ViewModels.CheckoutViewModel
<div class="container col-md-12" align="center">
    <div class="col-md-12" align="center"><h2>Checkout</h2></div>
    <div class="well well-lg col-md-4 col-md-offset-4">
        <div class="panel panel-primary">

            <div class="panel-heading">
                <h3 class="panel-title">Order Confirmed!</h3>
            </div>
            <div class="panel-body" align="left">
                @if (Model.UserIsLoggedIn)
                {
                <p>
                    Thank you for supporting the Arts.
                </p>
                <p>

                    Your receipt and tickets have been emailed your registered email address.
                </p>
                <p>

                    Enjoy the show !
                </p>

                }

                else
                {
                <p>
                    Thank you for supporting the Arts.
                </p>
                <p>
                    Your receipt and tickets have been emailed to the address supplied.
                </p>
                    <p>your confirmation code has been send via SMS to the phone number given.</p>
                <p>
                    
                Enjoy the show !
                    </p>
                }

            </div>

        </div>
    </div>
</div>

<img src="https://f.formisimo.com/conv/1059">


