﻿@model TheatreWebApp.ViewModels.BookingViewModel

@{
    ViewBag.Title = "Book Tickets";
    Layout = "/Views/Shared/_Layout";
}

<h2>title</h2>
<div class="row">
    <div class="col-md-8">
        <section id="bookingForm">
            @using (Html.BeginForm("Create", "Booking", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
               
            }
        </section>
    </div>

</div>