﻿@using TheatreWebApp.Models
@model TheatreWebApp.ViewModels.PurchaseViewModel

@{
    ViewBag.Title = "title";
    int year =0;
    int month =0;
    int day = 0;
    var time = "";
    var dateIsSelected = false;
    if (ViewBag.Date != null)
    {
        year = ((DateDTO) ViewBag.Date).Year;
        month = ((DateDTO) ViewBag.Date).Month;
        day = ((DateDTO) ViewBag.Date).Day;
        time = ((DateDTO) ViewBag.Date).Time;
        dateIsSelected = true;
    }
}

<div class="container col-md-12">

    <div class="col-md-4 col-md-offset-4" align="center"><h2>Purchase Tickets</h2></div>
    
    <div> @Html.HiddenFor(x => x.SelectedProductionId, new { @id = "hiddenProdId" } )</div>
    @if (dateIsSelected)
    {
        <div> <input data-val="true" id="hiddenYear" type="hidden" value="@year" /></div>
        <div> <input data-val="true" id="hiddenMonth" type="hidden" value="@month" /></div>
        <div> <input data-val="true" id="hiddenDay" type="hidden" value="@day" /></div>
        <div> <input data-val="true" id="hiddenTime" type="hidden" value="@time" /></div>
    }

    

    <div class="well well-lg col-md-4 col-md-offset-4" method="POST" action="Checkout">
        @using (Html.BeginForm("Checkout", "Booking", FormMethod.Post))
        {
            @Html.ValidationSummary(true)
            <div class="form-group">
                <label for="purchaseMethod">Choose by Production</label>
                <input type="radio" id="prodRadio" checked="checked" name="purchaseMethod" value="date" style="margin-left: 1em;">
            </div>

            <div class="form-group">
                <label for="purchaseMethod">Choose by Date</label>
                <input type="radio" id="dateRadio" name="purchaseMethod" value="date" style="margin-left: 1em;">
            </div>

            

            <div id="ticketByDate">
                <div class="input-group form-group">
                    @Html.TextBoxFor(model => model.SelectedDate, new
                    {
                        type = "text",
                        @Value = System.DateTime.Now.ToString("ddd, dd MMM yyyy"),
                        @class = "datepicker form-control",
                        @id = "ddlDateCBD",
                        @onchange = "javascript:GetProductions(this.value, $('#ddlProductions'));"
                    })
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    @Html.ValidationMessageFor(model => model.SelectedDate)
                </div>

                <div class="form-group">
                    @*<select id="ddlProductions" name="ddlProduction" class="form-control"
                        onchange=" javascript: GetShowsForProduction(this.value, $('#ddlDateCBD'), $('#ddlShow')); "></select>*@
                    @Html.DropDownListFor(m => m.SelectedProductionId, new List<SelectListItem>(), new
                    {
                        @id = "ddlProductions",
                        @class = "form-control",
                        @onchange=" javascript: GetShowsForProduction(this.value, $('#ddlDateCBD'), $('#ddlShow')); "
                    })
                    @Html.ValidationMessageFor(model => model.SelectedProductionId)
                </div>
                <div class="form-group">
                    @*<select id="ddlShow" name="SelectedShowId" class="form-control"></select>*@
                    @Html.DropDownListFor(m => m.SelectedShowId, new List<SelectListItem>(), new{ @id="ddlShow", @class="form-control"})
                    @Html.ValidationMessageFor(model => model.SelectedShowId)
                </div>

            </div>

            <div id="ticketByProduction">

                <div class="form-group">
                    @Html.DropDownListFor(m => m.SelectedProductionId, Model.Productions, new
                    {
                        @class = "form-control",
                        @onchange = "javascript:GetDates(this.value, $('#ddlDateCBP'), $('#ddlShow2'));",
                        @id = "ddlMainProd"
                    })
                    @Html.ValidationMessageFor(m => m.SelectedProductionId)
                </div>

                <div class="input-group form-group">
                    @Html.TextBoxFor(model => model.SelectedDate, new
                    {
                        type = "text",
                        @id = "ddlDateCBP",
                        @Value = System.DateTime.Now.ToString("ddd, dd MMM yyyy"),
                        @class = "datepicker form-control",
                        @onfocus = "javascript: GetShowsForProduction($('#ddlMainProd').val(), $('#ddlDateCBP'), $('#ddlShow2'));"
                    })
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    @Html.ValidationMessageFor(model => model.SelectedDate)
                </div>

                <div class="form-group">
                    @Html.DropDownListFor(m => m.SelectedShowId, new List<SelectListItem>(), new { @id = "ddlShow2", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SelectedShowId)
                </div>


            </div>

            <div>
                @Html.DropDownListFor(m => m.SelectedSeatTypeId, Model.SeatTypes, new {@class = "form-control", @id = "ddlSeatType"})
                @Html.ValidationMessageFor(m => m.SelectedSeatTypeId)
            </div>

            <div class="input-group form-group padtop">
                <label for="numbertickets">Number of Tickets</label>

                @*<input id="numbertickets" value="2" name="NumberOfTickets">*@
                @Html.TextBoxFor(x => x.NumberOfTickets, new{ @value="2", @id="numbertickets"})
                @Html.ValidationMessageFor(m => m.NumberOfTickets)
            </div>




            <div class="" align="center">
                <button type="submit" class="btn btn-default">Purchase</button>
            </div>


        }
    </div>
</div>





@section Scripts {
    <script src="~/Scripts/purchasePageControl.js"></script>
    <script src="~/Scripts/bootstrapValidation.js"></script>
    @*@if (Model.SelectedProductionId > 0)
    {
        <script>
            selectProduction(@Model.SelectedProductionId);
        </script>
    }*@

}
